<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base/base:: layout(~{::section},~{::title})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section>
    <!--    Carousel Slider Start-->
    <!--    Carousel Slider End-->

    <!--    Product Category Starts-->
    <div class="container">
        <div class="row mt-5">
            <p class="text-center fs-4">Category</p>
            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-3">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body ">
                                <img src="images/belaBiscuits.jpg" class="ms-3" width="70%" height="85px" alt="">
                                <p class="text-center rounded-2 text-white bg-danger fw-semibold mt-3">Biscuits</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    Product Category Ends-->

</section>

</body>
</html>